body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding-top: 10px;
}

.form-container {
    margin-top: 25px;
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
}

.button_container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}


h1 {
    font-family: 'Lucida Calligraphy', cursive;
    font-size: 24px;
    text-align: center;
}

.main-container{
    margin-top: 120px;
}